@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
    height: 700px;
}

#img01 {
    background-image: url(../imagens/predios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img02 {
    background: black url(../imagens/luzes.jpg) center center no-repeat fixed;
    background-size: cover;
}

#img03 {
    background: black url(../imagens/transito.jpg) center center no-repeat fixed;
    background-size: cover;
}

#img04 {
    background: black url(../imagens/cidade.jpg) center bottom no-repeat fixed;
    background-size: cover;
}

.container {
    position: relative;
}

section h1.titulo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    font-variant: small-caps;
    font-size: 4.5vw;
    letter-spacing: 0.3em;

    padding: 20px;
    width: 50vw;


    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

div {
    background-color: lightgray;
    padding: 50px;
    min-height: 250px;
    min-width: 250px;
    text-align: center;
}

div > h2 {
    text-align: center;
    padding: 20px;
}

.conteudo {
    position: absolute;
    color: white;
    letter-spacing: 0.4em;
    font-size: 2em;
    font-weight: bolder;
    font-variant: small-caps;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    position: absolute;
    font-size: 1em;
    background-color: white;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    overflow-x: auto;
}

thead {
    background-color: rgba(0, 0, 0, 0.507);
}

#tamanho {
    min-height: 400px;
    min-width: 250px;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    width: 200px;
}

caption {
    font-size: 2em;
}

tbody tr:nth-child(2n){
    background-color: lightgray;
}

tfoot {
    background-color: rgba(0, 0, 0, 0.507);
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

footer  a {
    font-weight: bolder;
    text-decoration: none;
    color: aqua;
}

footer a:hover {
    text-decoration: underline;
    color: brown;
}

footer a:active {
    color: pink;
}
